.card-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(to top, #000000 0%, #a6c7ee 100%)
}
.text-section {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d9adad;
}

.card-text {
    font-size: 1.5rem;
    color: #000000;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    max-width: 600px;
}


.cardStyle  {
    width: 300px;
    background-color: beige;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1),
  };
  
.titleStyle {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
};
  